<!DOCTYPE html>
<html lang="en">
    <head>
        <title>POST FORM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/xuly" method="POST">
            <input type="text" name="txtName" placeholder="Enter name">
            <br><br>
            <input type="text" name="txtAge" placeholder="Enter age">
            <br><br>
            <button>Add Employee</button>
        </form>
    </body>
</html>