<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <% if (isAdmin) { %>
            <h1>Bang dieu khien</h1>
        <% } else { %>
            <a href="/#">Ban phai la admin moi duoc su dung tinh nang nay</a>
        <% } %>
    </body>
</html>

