<% const age = 18; %>
<% const str = '<h6>Hello</h6>' %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Khoa Pham Training</h1>
        <%- str %>
        <h3>Toi la <%= name %>, toi <%= age %> tuoi</h3>
        <img src="a.png">
    </body>
</html>
